<%= form_with(model: task) do |form| %>
<%=show_errors(task)%>
<ul>
    <% task.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
</ul>

<div class="field">
    <%= form.label :name,style:"display:none" %>
    <%= form.text_field :name,placeholder:'Name your Task' %>
    <hr>
</div>

<div class="field">
    <%= form.label :amount, style:"display:none" %>
    <%= form.number_field :amount, placeholder:'Hours Spent' %>
    <hr>
</div>

<div class="field">
    <%= form.label :group_id, class: 'input-group-text' %>
    <%= form.collection_select(:group_id, Group.all, :id, :name, {include_blank: true}, {class: 'group-select w-100'}) %>
    <hr>
</div>

<div class="actions">
    <%= form.submit class:"btn btn-primary"%>
</div>
<% end %>