<% provide(:title, "Tasks") %>
<div class="total-task d-flex flex-column px-2 position-relative">
    <div class="task-total fw-bold  d-flex justify-content-center align-items-center mt-1 mb-4">
        <span class="me-2">
            Tasks: <%=@tasks.count%>
        </span>
        Total Hours:<% if total_tasks_hours(@tasks) >= 40 %>
        <span class="text-success text-center m-2"><%= total_tasks_hours(@tasks) %>
            <strong>Good Job.</strong>
        </span>
        <% else %>
        <span class="text-danger text-center m-2"><%= total_tasks_hours(@tasks) %>
            <strong>(Log your tasks)</strong>
        </span>
        <% end %>
    </div>
    <%= render 'task' %>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <%=  link_to 'javascript:history.back()', class:"card-link text-decoration-none my-3" do %>
        <i class="bi bi-arrow-left-square text-dark"></i>
        <% end %>
    </div>
    <div class="new-task-btn text-center bg-succes position-fixed d-flex align-items-center justify-content-center">
        <%= link_to 'New Task', new_task_path, class:'text-white text-decoration-none new-task' %>
    </div>
</div>