<%= form_with(model: group) do |form| %>
<%=show_errors(group)%>
<ul>
    <% group.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
</ul>

<div class="">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
</div>
<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>
