<p id="notice"><%= notice %></p>

<p>
    <% if @group.icon.attached? %>
    <%= cl_image_tag @group.icon.key, :width=>50, :crop=>"fill" %>
    <% end %>
</p>
<p>
    <strong>Name:</strong>
    <%= @group.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>